<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>상품등록</title>
    <link rel="icon" href="/assets/images/temfit_icon.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="/assets/styles/common.min.css">
    <link rel="stylesheet" type="text/css" href="/item/assets/styles/write.min.css">
    <script src="/assets/scripts/common.js" type="text/javascript"></script>
    <script defer src="/item/assets/scripts/write.js" type="text/javascript"></script>
</head>
<body>
<div id="container">
    <form novalidate id="itemWriteForm">
        <label class="--object-label-row">
            <span class="---caption">상품이미지</span>
            <img alt="이미지" class="image" src="/assets/images/view.png">
            <input name="productImage" class="--object-field ---field -flex-stretch" placeholder="이미지 주소를 입력해주세요." type="text">
            <span class="---warning"></span>
        </label>
        <label class="--object-label-row">
            <span class="---caption">상품이름</span>
            <input name="productName" class="--object-field ---field -flex-stretch" placeholder="상품이름을 입력해주세요." type="text">
        </label>
        <label class="--object-label-row">
            <span class="---caption">브랜드</span>
            <select class="--object-field ---field -flex-stretch">
                <option selected value="none">브랜드를 선택해주세요.</option>
            </select>
        </label>
        <label class="--object-label-row">
            <span class="---caption">피부</span>
            <select class="--object-field ---field -flex-stretch">
                <option selected value="none">피부를 선택해주세요.</option>
            </select>
        </label>
        <label class="--object-label-row">
            <span class="---caption">용량</span>
            <input class="--object-field ---field -flex-stretch" placeholder="상세히 적어주세요.( 예: 145ml*3 )" type="text">
        </label>
        <label class="--object-label-row">
            <span class="---caption">가격</span>
            <input class="--object-field ---field num" placeholder="가격을 입력해 주세요." type="number">
            <span class="---caption">원</span>
        </label>
        <label class="--object-label-row">
            <span class="---caption">할인율</span>
            <input class="--object-field ---field num" name="rate" placeholder="할인율을 입력해 주세요." type="number">
            <span class="---caption">%</span>
        </label>
        <label class="--object-label-row">
            <span class="---caption">배송비</span>
            <input class="--object-field ---field num" placeholder="배송비를 입력해 주세요." type="number">
            <span class="---caption">원</span>
        </label>
        <label class="--object-label-row">
            <span class="---caption">배송사</span>
            <input class="--object-field ---field" placeholder="배송사를 입력해 주세요." type="text">
        </label>
        <label class="--object-label-row">
            <span class="---caption">배송비고란</span>
            <input class="--object-field ---field -flex-stretch" type="text">
        </label>
        <div class="button-container">
            <a class="--object-button -color-gray" onclick="window.close()">돌아가기</a>
            <button class="--object-button -color-signature" type="submit">상품등록</button>
        </div>
    </form>
</div>
</body>
</html>