<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>상품등록</title>
    <link rel="icon" href="/assets/images/temfit_icon.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="/assets/styles/common.min.css">
    <link rel="stylesheet" type="text/css" href="/item/assets/styles/write.min.css">
</head>
<body>
<div id="container">
    <form novalidate id="itemWriteForm">
        <label class="--object-label-row">
            <span class="---caption">상품이미지</span>
            <img alt="이미지" class="image" src="/assets/images/view.png">
            <input class="--object-field ---field -flex-stretch" type="text">
        </label>
        <label class="--object-label-row">
            <span class="---caption">상품이름</span>
            <input class="--object-field ---field -flex-stretch" type="text">
        </label>
        <label class="--object-label-row">
            <span class="---caption">브랜드</span>
            <input class="--object-field ---field -flex-stretch" type="text">
        </label>
        <label class="--object-label-row">
            <span class="---caption">피부</span>
            <input class="--object-field ---field -flex-stretch" type="text">
        </label>
        <label class="--object-label-row">
            <span class="---caption">용량</span>
            <input class="--object-field ---field -flex-stretch" type="text">
        </label>
        <label class="--object-label-row">
            <span class="---caption">가격</span>
            <input class="--object-field ---field -flex-stretch" type="text">
        </label>
        <label class="--object-label-row">
            <span class="---caption">할인율</span>
            <input class="--object-field ---field -flex-stretch" type="text">
        </label>
        <label class="--object-label-row">
            <span class="---caption">배송비</span>
            <input class="--object-field ---field -flex-stretch" type="text">
        </label>
        <label class="--object-label-row">
            <span class="---caption">배송사</span>
            <input class="--object-field ---field -flex-stretch" type="text">
        </label>
        <label class="--object-label-row">
            <span class="---caption">배송비고란</span>
            <input class="--object-field ---field -flex-stretch" type="text">
        </label>
        <div class="button-container">
            <a class="--object-button -color-gray" onclick="window.close()">돌아가기</a>
            <button class="--object-button -color-signature" type="submit">상품등록</button>
        </div>
    </form>
</div>
</body>
</html>