<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>템핏 - 리뷰수정하기</title>
    <link rel="icon" href="/assets/images/temfit_icon.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="/assets/styles/common.min.css">
    <link rel="stylesheet" type="text/css" href="/review/assets/styles/modify.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/libraries/ckeditor5/ckeditor5.css">
    <link rel="stylesheet" type="text/css" href="/assets/libraries/ckeditor5/ckeditor5-custom.css">
    <script src="/assets/libraries/ckeditor5/ckeditor5.js" type="module"></script>
    <script src="/assets/scripts/common.js" type="text/javascript"></script>
    <script type="importmap">
        {
            "imports": {
                "ckeditor5": "/assets/libraries/ckeditor5/ckeditor5.js",
                "ckeditor5/": "/assets/libraries/ckeditor5/"
            }
        }
    </script>
    <script defer src="/review/assets/scripts/modify-ckeditor.js" type="module"></script>
    <script defer src="/review/assets/scripts/modify.js" type="text/javascript"></script>
</head>
<body>
<div class="--loading" id="loading">
    <img alt="" class="---icon" src="/assets/images/loading.png">
    <span class="---caption">잠시만 기다려 주세요.</span>
</div>
<div class="--dialog"></div>
<div id="container">
    <th:block th:replace="~{/fragments/header :: header}"></th:block>
    <form id="modifyForm">
        <input hidden name="id" type="hidden" th:value="${review.getId()}">
        <h1 class="title">리뷰 수정하기</h1>
        <div class="item-container">
            <label class="--object-label basic">
                <img class="img"
                     src="https://img.hwahae.co.kr/products/1895128/1895128_20240426113159.jpg?format=webp&size=80x80"
                     alt="">
            </label>
            <label class="caption-container">
                <span class="caption">메디온</span>
                <span class="title">락토리메디 밸런스 젤 2.0</span>
            </label>
        </div>
        <label class="--object-label">
            <span class="---caption">사진과 리뷰를 수정해주세요</span>
            <span class="smile-sad-container">
                <img class="smile" src="/assets/images/smile.png" alt="">
                <span class="review-caption">어떤 점이 좋았고, 어떤 점이 아쉬웠나요 ?</span>
                <img class="sad" src="/assets/images/sad.png" alt="">
            </span>
            <span class="review-sub-caption">
                <img class="warning" src="/assets/images/cart-warning.png" alt="">
                <span class="item">만족했던 발림성, 흡수력 / 아쉬웠던 사용감, 트러블 등을 적어주세요</span>
            </span>
            <textarea autocomplete="off" name="content" th:text="${review.getContent()}"></textarea>
            <span class="---warning">내용을 입력해 주세요</span>
        </label>
        <div class="button-container">
            <button class="--object-button -color-gray" name="cancel" type="button">돌아가기</button>
            <button class="--object-button -color-signature" type="submit">리뷰 수정하기</button>
        </div>
    </form>
    <th:block th:replace="~{/fragments/footer :: footer}"></th:block>
</div>
</body>
</html>