@charset "UTF-8";

@import "../../../assets/styles/_def";

#rank {
  @include flex(column, stretch, flex-start, 0.375rem);
  max-width: 40rem;
  padding: 0 1.625rem;
  margin: 0 auto;
  background-color: #ffffff;

  > .a-container {
    @include flex(row, flex-start, flex-start, 1.625rem);
    font-size: 0.895rem;
    margin-bottom: 0.625rem;
    border-bottom: 0.0625rem solid #e0e2e4;

    > .button {

      > .ranking {
        cursor: pointer;
        font-weight: 800;
      }
    }

    > .line {
      margin-bottom: 2rem;
    }
  }

  > .b-container {
    margin-bottom: 0.625rem;
    border-bottom: 0.0625rem solid #e0e2e4;

    > .label-container {
      > .label {
        margin-right: 1rem;
        font-size: 0.875rem;
        font-weight: 400;
        color: #a2a4a6;

        &:has(.radio:checked) {
          font-weight: 600;
          color: #1d1d1e;
        }

        > .radio {
          display: none;
        }

        > .caption {
          cursor: pointer;
        }
      }
    }

    > .line {
      margin-bottom: 1rem;
    }
  }

  > .skin-container {
    display: none;

    &.visible {
      @include flex(column, stretch, flex-start, 1rem);

      > .skin-label {
        @include flex(row, stretch, flex-start, 0.375rem);

        > .label {
          @include flex(row, center, center);
          height: 2rem;
          padding: 0 0.5rem;
          border: 0.0625rem solid #e0e0e0;
          border-radius: 0.5rem;
          cursor: pointer;

          > .caption {
            padding: 0.35rem;
            font-size: 0.785rem;
            font-weight: 400;
            color: #a2a4a6;
          }


          &:has(.radio:checked) {
            border-color: #2d2d2d;
            background-color: #2d2d2d;
            color: #f0f0f0;
            font-weight: 500;
          }

          > .radio {
            display: none;
          }
        }
      }

      > .line {
        margin-top: 1rem;

        > .item-box {
          @include flex(row, center, flex-start);
          padding: 0.785rem 0;
          font-weight: 500;
          margin-top: 1rem;
          border-radius: 0.425rem;
          box-shadow: 0.05rem 0.05rem 0.5rem 0.1rem #f0f0f0;

          > .medal {
            margin-left: 1rem;
            width: 2rem;
          }

          > .rank {
            margin-left: 1.7rem;
            width: 1.3rem;
          }

          > .item {
            width: 5rem;
            margin-right: 1rem;
          }
        }
      }
    }
  }

  > .brand-container {
    display: none;

    &.visible {
      display: block;

      > .brand-label {
        @include flex(column, stretch, flex-start, 1rem);
        font-size: 0.875rem;
        font-weight: 500;
        color: #4f4f4f;

        > .brand-con {
          @include flex(row, center, flex-start, 1rem);
          padding: 1rem;
          cursor: pointer;

          &:has(.radio:checked) {
            border: 0.1rem solid #fb5f86;
            border-radius: 0.5rem;
            color: #000000;
            font-weight: 700;
          }

          > .radio {
            display: none;
          }

          > .img {
            width: 2.45rem;
            border: 0.0625rem solid #eaecee;
            border-radius: 999rem;
          }
        }

        > .line {
          @include flex(column, stretch, flex-start);

          > .item-box {
            @include flex(row, center, flex-start);
            padding: 0.785rem 0;
            font-weight: 500;
            margin-bottom: 1rem;
            border-radius: 0.425rem;
            box-shadow: 0.05rem 0.05rem 0.5rem 0.1rem #f0f0f0;

            > .medal {
              margin-left: 1rem;
              width: 2rem;
            }

            > .rank {
              margin-left: 1.7rem;
              width: 1.3rem;
            }

            > .item {
              width: 5rem;
              margin-right: 1rem;
            }

            > .container {
              @include flex(column, flex-start, flex-start, 0.25rem);

              > .brand-container {
                > .title {
                  color: #757575;
                  margin-right: 0.25rem;
                }
              }
            }
          }

          > .box {
            > .item-box {
              font-size: 0.8rem;
              padding: 1rem;

              > .item {
                width: 3.875rem;
              }
            }
          }
        }
      }
    }
  }
}
