#rank {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  justify-content: flex-start;
  max-width: 40rem;
  padding: 0 1.625rem;
  margin: 0 auto;
  background-color: #ffffff;
}
#rank > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#rank > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#rank > .a-container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 1.625rem;
  justify-content: flex-start;
  font-size: 0.895rem;
  margin-bottom: 0.625rem;
  border-bottom: 0.0625rem solid #e0e2e4;
}
#rank > .a-container > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#rank > .a-container > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#rank > .a-container > .button > .ranking {
  cursor: pointer;
  font-weight: 800;
}
#rank > .a-container > .line {
  margin-bottom: 2rem;
}
#rank > .b-container {
  margin-bottom: 0.625rem;
  border-bottom: 0.0625rem solid #e0e2e4;
}
#rank > .b-container > .label-container > .label {
  margin-right: 1rem;
  font-size: 0.875rem;
  font-weight: 400;
  color: #a2a4a6;
}
#rank > .b-container > .label-container > .label:has(.radio:checked) {
  font-weight: 600;
  color: #1d1d1e;
}
#rank > .b-container > .label-container > .label > .radio {
  display: none;
}
#rank > .b-container > .label-container > .label > .caption {
  cursor: pointer;
}
#rank > .b-container > .line {
  margin-bottom: 1rem;
}
#rank > .skin-container {
  display: none;
}
#rank > .skin-container.visible {
  display: block;
}
#rank > .skin-container.visible > .title-box > .label {
  margin-right: 1rem;
  font-size: 0.785rem;
  font-weight: 400;
  padding: 0.35rem;
  color: #a2a4a6;
  border: 0.0625rem solid #e0e2e4;
  border-radius: 0.465rem;
}
#rank > .skin-container.visible > .title-box > .label :hover {
  cursor: pointer;
}
#rank > .skin-container.visible > .title-box > .label:has(.radio:checked) {
  border-color: #2d2d2d;
  background-color: #2d2d2d;
  color: #f0f0f0;
  font-weight: 500;
}
#rank > .skin-container.visible > .title-box > .label > .radio {
  display: none;
}
#rank > .age-container {
  display: none;
}
#rank > .age-container.visible {
  display: block;
}
#rank > .age-container.visible > .title-box > .label {
  margin-right: 1rem;
  font-size: 0.785rem;
  font-weight: 400;
  padding: 0.35rem;
  color: #a2a4a6;
  border: 0.0625rem solid #e0e2e4;
  border-radius: 0.465rem;
}
#rank > .age-container.visible > .title-box > .label :hover {
  cursor: pointer;
}
#rank > .age-container.visible > .title-box > .label:has(.radio:checked) {
  border-color: #2d2d2d;
  background-color: #2d2d2d;
  color: #f0f0f0;
  font-weight: 500;
}
#rank > .age-container.visible > .title-box > .label > .radio {
  display: none;
}
#rank > .brand-container {
  display: none;
}
#rank > .brand-container.visible {
  display: block;
}
#rank > .brand-container.visible > .brand {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  font-size: 0.875rem;
  font-weight: 600;
}
#rank > .brand-container.visible > .brand > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#rank > .brand-container.visible > .brand > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#rank > .brand-container.visible > .brand > .img {
  width: 2.45rem;
  border: 0.0625rem solid #eaecee;
  border-radius: 999rem;
}
#rank > .brand-container.visible > .brand > .sub-title {
  color: #a2a4a6;
  margin-left: -0.625rem;
  font-size: 0.75rem;
  font-weight: 500;
}
#rank > .brand-container.visible > .line {
  margin-top: 1rem;
}
#rank > .brand-container.visible > .line > .item-box {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: flex-start;
  padding: 0.785rem 0;
  font-weight: 500;
  margin-top: 1rem;
  border-radius: 0.425rem;
  box-shadow: 0.05rem 0.05rem 0.5rem 0.1rem #f0f0f0;
}
#rank > .brand-container.visible > .line > .item-box > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#rank > .brand-container.visible > .line > .item-box > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#rank > .brand-container.visible > .line > .item-box > .medal {
  margin-left: 1rem;
  width: 2rem;
}
#rank > .brand-container.visible > .line > .item-box > .rank {
  margin-left: 1.7rem;
  width: 1.3rem;
}
#rank > .brand-container.visible > .line > .item-box > .item {
  width: 5rem;
  margin-right: 1rem;
}
#rank > .brand-container.visible > .line > .item-box > .container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: flex-start;
}
#rank > .brand-container.visible > .line > .item-box > .container > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#rank > .brand-container.visible > .line > .item-box > .container > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#rank > .brand-container.visible > .line > .item-box > .container > .brand-container > .title {
  color: #757575;
  margin-right: 0.25rem;
}
#rank > .brand-container.visible > .line > .item-box > .container > .star-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
}
#rank > .brand-container.visible > .line > .item-box > .container > .star-container > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#rank > .brand-container.visible > .line > .item-box > .container > .star-container > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#rank > .brand-container.visible > .line > .item-box > .container > .star-container > .star-scope {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  justify-content: flex-start;
}
#rank > .brand-container.visible > .line > .item-box > .container > .star-container > .star-scope > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#rank > .brand-container.visible > .line > .item-box > .container > .star-container > .star-scope > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#rank > .brand-container.visible > .line > .item-box > .container > .star-container > .star-scope > .starImg {
  width: 0.75rem;
}
#rank > .brand-container.visible > .line > .item-box > .container > .star-container > .star-scope > .score {
  font-size: 0.7rem;
  font-weight: 300;
  color: #2d2d2d;
}
#rank > .brand-container.visible > .line > .item-box > .container > .star-container > .star-scope > .number {
  font-size: 0.6rem;
  color: #a2a4a6;
}
#rank > .brand-container.visible > .line > .box > .item-box {
  font-size: 0.8rem;
  padding: 1rem;
}
#rank > .brand-container.visible > .line > .box > .item-box > .item {
  width: 3.875rem;
}
#rank > .line {
  margin-top: 1rem;
}
#rank > .line > .item-box {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: flex-start;
  padding: 0.785rem 0;
  font-weight: 500;
  margin-top: 1rem;
  border-radius: 0.425rem;
  box-shadow: 0.05rem 0.05rem 0.5rem 0.1rem #f0f0f0;
}
#rank > .line > .item-box > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#rank > .line > .item-box > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#rank > .line > .item-box > .medal {
  margin-left: 1rem;
  width: 2rem;
}
#rank > .line > .item-box > .rank {
  margin-left: 1.7rem;
  width: 1.3rem;
}
#rank > .line > .item-box > .item {
  width: 5rem;
  margin-right: 1rem;
}
#rank > .line > .item-box > .container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: flex-start;
}
#rank > .line > .item-box > .container > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#rank > .line > .item-box > .container > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#rank > .line > .item-box > .container > .brand-container > .title {
  color: #757575;
  margin-right: 0.25rem;
}
#rank > .line > .item-box > .container > .star-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
}
#rank > .line > .item-box > .container > .star-container > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#rank > .line > .item-box > .container > .star-container > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#rank > .line > .item-box > .container > .star-container > .star-scope {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  justify-content: flex-start;
}
#rank > .line > .item-box > .container > .star-container > .star-scope > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#rank > .line > .item-box > .container > .star-container > .star-scope > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#rank > .line > .item-box > .container > .star-container > .star-scope > .starImg {
  width: 0.75rem;
}
#rank > .line > .item-box > .container > .star-container > .star-scope > .score {
  font-size: 0.7rem;
  font-weight: 300;
  color: #2d2d2d;
}
#rank > .line > .item-box > .container > .star-container > .star-scope > .number {
  font-size: 0.6rem;
  color: #a2a4a6;
}
#rank > .line > .box > .item-box {
  font-size: 0.8rem;
  padding: 1rem;
}
#rank > .line > .box > .item-box > .item {
  width: 3.875rem;
}

/*# sourceMappingURL=rank.css.map */
