<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>급상숭 중인 제품의 추천 랭킹</title>
    <link rel="icon" href="/assets/images/temfit_icon.png" type="image/png">
    <link rel="stylesheet" href="/assets/styles/common.min.css">
    <link rel="stylesheet" href="/main/assets/styles/rank.min.css">
</head>
<body>
<th:block th:replace="~{/fragments/header :: header}"></th:block>
<div class="--dialog"></div>
<main id="rank">
    <div class="a-container">
        <a href="/main">홈</a>
        <a class="ranking" href="/rank">랭킹</a>
        <span class="line"></span>
    </div>
    <div class="b-container">
        <div class="label-container">
            <label class="label" tabindex="0">
                <input checked class="radio" type="radio" value="recent" name="keyword">
                <span class="caption">급상승</span>
            </label>
            <label class="label">
                <input checked class="radio" type="radio" value="recent" name="keyword">
                <span class="caption">카테고리별</span>
            </label>
            <label class="label">
                <input checked class="radio" type="radio" value="recent" name="keyword">
                <span class="caption">피부별</span>
            </label>
            <label class="label">
                <input checked class="radio" type="radio" value="recent" name="keyword">
                <span class="caption">연령대별</span>
            </label>
            <label class="label">
                <input checked class="radio" type="radio" value="recent" name="keyword">
                <span class="caption">브랜드</span>
            </label>
        </div>
        <div class="line"></div>
    </div>
    <div class="c-container">
        <div class="brand">
            <p class="num">1</p>
            <img class="img" src="https://img.hwahae.co.kr/brands/3264/3264_20230405140512.png?size=120x120"
                 alt="torridenImg">
            <span class="title">토리든</span>
            <span class="sub-title">(Torriden)</span>
        </div>
        <div class="line box">
            <div class="item-box">
                <img class="item"
                     src="https://img.hwahae.co.kr/products/1984011/1984011_20231114110247.jpg?format=webp&size=80x80"
                     alt="item">
                <div class="container">
                    <div class="brand-container">
                        <a class="title" href="#">토리든 </a>
                        <a class="caption" href="#">다이브인 저분자 히알루론산 세럼</a>
                    </div>
                    <div class="star-container">
                        <div class="star-scope">
                            <img class="starImg" src="/assets/images/star.png" alt="">
                            <h2 class="score">4.59</h2>
                            <h3 class="number">(60,970)</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-box">
                <img class="item"
                     src="https://img.hwahae.co.kr/products/1984011/1984011_20231114110247.jpg?format=webp&size=80x80"
                     alt="item">
                <div class="container">
                    <div class="brand-container">
                        <a class="title" href="#">토리든 </a>
                        <a class="caption" href="#">다이브인 저분자 히알루론산 세럼</a>
                    </div>
                    <div class="star-container">
                        <div class="star-scope">
                            <img class="starImg" src="/assets/images/star.png" alt="">
                            <h2 class="score">4.59</h2>
                            <h3 class="number">(60,970)</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-box">
                <img class="item"
                     src="https://img.hwahae.co.kr/products/1984011/1984011_20231114110247.jpg?format=webp&size=80x80"
                     alt="item">
                <div class="container">
                    <div class="brand-container">
                        <a class="title" href="#">토리든 </a>
                        <a class="caption" href="#">다이브인 저분자 히알루론산 세럼</a>
                    </div>
                    <div class="star-container">
                        <div class="star-scope">
                            <img class="starImg" src="/assets/images/star.png" alt="">
                            <h2 class="score">4.59</h2>
                            <h3 class="number">(60,970)</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:replace="~{/fragments/footer :: footer}"></th:block>
</body>
</html>