<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>템핏 검색 - 지금 가장 많이 구매하고 있어요</title>
    <link rel="icon" href="/assets/images/temfit_icon.png" type="image/png">
    <link rel="stylesheet" href="/assets/styles/common.min.css">
    <link rel="stylesheet" href="/main/assets/styles/index_search.min.css">
</head>
<body>
<header id="toolbar">
    <label class="search-container">
        <a class="img" href="/main">
            <img class="temfit-icon" src="/assets/images/temfit_icon.png" alt="icon">
        </a>
        <input required class="search -flex-stretch" maxlength="20" minlength="1" name="search"
               placeholder="궁금한 제품을 검색해 보세요" type="text">
        <img class="search-icon" src="/assets/images/search-icon.png" alt="search-icon">
    </label>
</header>
<main id="main">
    <div class="caption-container">
        <p class="date">6월 27일 금요일 02:00</p>
        <h2 class="caption">지금 가장 많이 구매하고 있어요</h2>
    </div>
    <div class="line">
        <div class="item-box">
            <a class="medal" href="#">1</a>
            <img class="item"
                 src="https://img.hwahae.co.kr/products/1984011/1984011_20231114110247.jpg?format=webp&size=80x80"
                 alt="item">
            <a class="title" href="#">토리든 </a>
            <a class="caption" href="#">다이브인 저분자 히알루론산 세럼</a>
        </div>
        <div class="item-box">
            <a class="medal" href="#">1</a>
            <img class="item"
                 src="https://img.hwahae.co.kr/products/1984011/1984011_20231114110247.jpg?format=webp&size=80x80"
                 alt="item">
            <a class="title" href="#">토리든 </a>
            <a class="caption" href="#">다이브인 저분자 히알루론산 세럼</a>
        </div>
        <div class="item-box">
            <a class="medal" href="#">1</a>
            <img class="item"
                 src="https://img.hwahae.co.kr/products/1984011/1984011_20231114110247.jpg?format=webp&size=80x80"
                 alt="item">
            <a class="title" href="#">토리든 </a>
            <a class="caption" href="#">다이브인 저분자 히알루론산 세럼</a>
        </div>
        <div class="item-box">
            <a class="medal" href="#">1</a>
            <img class="item"
                 src="https://img.hwahae.co.kr/products/1984011/1984011_20231114110247.jpg?format=webp&size=80x80"
                 alt="item">
            <a class="title" href="#">토리든 </a>
            <a class="caption" href="#">다이브인 저분자 히알루론산 세럼</a>
        </div>
        <div class="item-box">
            <a class="medal" href="#">1</a>
            <img class="item"
                 src="https://img.hwahae.co.kr/products/1984011/1984011_20231114110247.jpg?format=webp&size=80x80"
                 alt="item">
            <a class="title" href="#">토리든 </a>
            <a class="caption" href="#">다이브인 저분자 히알루론산 세럼</a>
        </div>
        <div class="item-box">
            <a class="medal" href="#">1</a>
            <img class="item"
                 src="https://img.hwahae.co.kr/products/1984011/1984011_20231114110247.jpg?format=webp&size=80x80"
                 alt="item">
            <a class="title" href="#">토리든 </a>
            <a class="caption" href="#">다이브인 저분자 히알루론산 세럼</a>
        </div>
        <div class="item-box">
            <a class="medal" href="#">1</a>
            <img class="item"
                 src="https://img.hwahae.co.kr/products/1984011/1984011_20231114110247.jpg?format=webp&size=80x80"
                 alt="item">
            <a class="title" href="#">토리든 </a>
            <a class="caption" href="#">다이브인 저분자 히알루론산 세럼</a>
        </div>
    </div>
</main>
<th:block th:replace="~{/fragments/footer :: footer}"></th:block>
</body>
</html>