<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Temfit - " 당신의 아름다움에 핏하다 "</title>
    <link rel="icon" href="/assets/images/temfit_icon.png" type="image/png">
    <link rel="stylesheet" href="/assets/styles/common.min.css">
    <link rel="stylesheet" href="/main/assets/styles/index.min.css">
    <script src="/assets/scripts/common.js" type="module"></script>
    <script defer src="/main/assets/scripts/index.js" type="module"></script>

</head>
<body>
<div class="--dialog"></div>
<div class="container">
    <th:block th:replace="~{fragments/header :: header}"></th:block>
    <main id="main">
        <div class="a-container">
            <a class="home" href="/main">홈</a>
            <a class="rank" href="/rankProduct">랭킹</a>
        </div>
        <div class="b-container">
            <img class="representImg"
                 src="https://img.hwahae.co.kr/commerce/deal_events/exposures/20250725/20250725144915862_1c606304-5089-4de4-bc7b-92b390fff6de.jpg"
                 alt="">
        </div>
        <div class="rank-container">
            <a class="up-title" href="/rankProduct">템핏의</a>
            <a class="rank-title" href="/rankProduct">랭킹</a>
            <div class="-flex-stretch"></div>
            <a class="rightArrow" href="/rankProduct">
                <img class="rightArrowImg" src="/assets/images/right-arrow.png" alt="rightArrowImg">
            </a>
        </div>
        <div id="layout-content">
            <div class="box">
                <div class="controller">
                    <a th:each="product : ${products}" th:id="${'product' + product.getNum()}" class="knob"
                       th:href="@{${'#productImage' + product.getNum()}}"></a>
                    <span class="-flex-stretch" role="none"></span>
                    <label class="checkbox-container">
                        <input hidden type="checkbox">
                        <img alt="start" class="icon start" src="/assets/images/start.png">
                        <img alt="pause" class="icon pause -selected" src="/assets/images/stop.png">
                    </label>
                </div>
                <div class="page-container" id="imageTable">
                    <div class="page" th:each="product : ${products}" th:id="${'productImage' + product.getNum()}">
                        <img class="medal" src="/assets/images/1st-medal.png" alt="1medal"
                             th:if="${product.getNum() == 1}">
                        <img class="medal" src="/assets/images/2nd-medal.png" alt="2medal"
                             th:if="${product.getNum() == 2}">
                        <img class="medal" src="/assets/images/3rd-medal.png" alt="3medal"
                             th:if="${product.getNum() == 3}">
                        <span class="medal" th:if="${product.getNum() == 4}">4</span>
                        <span class="medal" th:if="${product.getNum() == 5}">5</span>
                        <button class="button-container">
                            <input hidden type="hidden" class="productId" th:value="${product.getId()}">
                            <img class="rankingImg"
                                 th:src="${product.getImageUrl()}" th:alt="${product.getName()}">
                            <span class="caption">
                                <a class="text cosmetic-sub-title" th:text="${product.getBrandName()}"></a>
                                <a class="text cosmetic-title" th:text="${product.getName()}"></a>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="A-container">
            <div class="title-container">
                <a href="/rankProduct">템핏 고객들이 직접</a>
                <a class="rank-title" href="/rankProduct">선택한 랭킹</a>
                <div class="-flex-stretch"></div>
                <a class="rightArrow" href="/rankProduct">
                    <img class="rightArrowImg" src="/assets/images/right-arrow.png" alt="rightArrowImg">
                </a>
            </div>
            <div class="item-container">
                <div class="item-box" th:each="product : ${products}">
                    <img class="medal" src="/assets/images/1st-medal.png" alt="1medal" th:if="${product.getNum() == 1}">
                    <img class="medal" src="/assets/images/2nd-medal.png" alt="2medal" th:if="${product.getNum() == 2}">
                    <img class="medal" src="/assets/images/3rd-medal.png" alt="3medal" th:if="${product.getNum() == 3}">
                    <img class="item"
                         th:src="${product.getImageUrl}" alt="">
                    <div class="container">
                        <button class="brand-container" type="button">
                            <input hidden type="hidden" class="productId" th:value="${product.getId()}">
                            <a class="title" th:text="${product.brandName}"></a>
                            <a class="caption" th:text="${product.getName()}"></a>
                        </button>
                        <div class="star-container">
                            <div class="star-scope">
                                <span class="score" th:text="${product.getDiscountRate()}"></span>
                                <span class="number" th:text="${product.getPrice()}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="button" href="/rankProduct">랭킹 전체보기 ></a>
        </div>
        <div class="A-container">
            <div class="title-container">
                <a href="#">내 피부에 꼭 맞는 제품 랭킹</a>
                <div class="-flex-stretch"></div>
                <a class="rightArrow" href="/rank">
                    <img class="rightArrowImg" src="/assets/images/right-arrow.png" alt="rightArrowImg">
                </a>
            </div>
            <div class="item-container">
                <div class="skin-label">
                    <label class="label" th:each="skin : ${skins}">
                        <input class="radio" type="radio" name="skin">
                        <input hidden class="skinId" th:value="${skin.getId()}" type="hidden">
                        <span class="caption" th:text="${skin.getName()}"></span>
                    </label>
                </div>
                <div class="skin-container">

                </div>
            </div>
            <a class="button" href="/rank">피부별 전체보기 ></a>
        </div>
        <div class="A-container">
            <div class="title-container">
                <a href="#">요즘 뜨는 브랜드</a>
                <div class="-flex-stretch"></div>
                <a class="rightArrow" href="/rankBrand">
                    <img class="rightArrowImg" src="/assets/images/right-arrow.png" alt="rightArrowImg">
                </a>
            </div>
            <div class="item-container">
                <div class="item-box brand" th:each="brand : ${brands}">
                    <img class="medal" src="/assets/images/1st-medal.png" alt="1medal" th:if="${brand.getNum() == 1}">
                    <img class="medal" src="/assets/images/2nd-medal.png" alt="2medal" th:if="${brand.getNum() == 2}">
                    <img class="medal" src="/assets/images/3rd-medal.png" alt="3medal" th:if="${brand.getNum() == 3}">
                    <img class="item image"
                         th:src="${brand.getImageUrl()}" th:alt="${brand.getName()}">
                    <div class="container">
                        <div class="brand-container">
                            <a href="/rank" class="title" th:text="${brand.getName()}"></a>
                        </div>
                    </div>
                </div>
            </div>
            <a class="button" href="/rankBrand">브랜드 전체보기 ></a>
        </div>
    </main>
    <th:block th:replace="~{fragments/footer :: footer}"></th:block>
</div>
</body>
</html>