<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>급상숭 중인 제품의 추천 랭킹</title>
    <link rel="icon" href="/assets/images/temfit_icon.png" type="image/png">
    <link rel="stylesheet" href="/assets/styles/common.min.css">
    <link rel="stylesheet" href="/main/assets/styles/rank.min.css">
    <script src="/assets/scripts/common.js" type="text/javascript"></script>
    <script defer src="/main/assets/scripts/rank.js"></script>
</head>
<body>
<th:block th:replace="~{/fragments/header :: header}"></th:block>
<div class="--dialog"></div>
<main id="rank">
    <div class="a-container">
        <a href="/main">홈</a>
        <div class="button">
            <button class="ranking" name="rank" type="button">랭킹</button>
        </div>
        <span class="line"></span>
    </div>
    <div class="b-container">
        <div class="label-container">
            <label class="label">
                <input checked class="radio skin" type="radio" name="category">
                <span class="caption">피부별</span>
            </label>
            <label class="label">
                <input class="radio brand" type="radio" name="category">
                <span class="caption">브랜드</span>
            </label>
        </div>
        <div class="line"></div>
    </div>
    <div class="skin-container">
        <label class="label" th:each="skin : ${skins}">
            <input checked class="radio " type="radio" name="skin">
            <span class="caption" th:text="${skin.getName()}"></span>
        </label>
        <div class="line">
            <div class="item-box" th:each="product : ${products}">
                <img class="medal" src="/assets/images/1st-medal.png" alt="1st-medal">
                <img class="item" th:src="${product.getImageUrl()}" th:alt="${product.getName()}">
                <a class="title"></a>
                <a class="caption" th:text="${product.getName()}"></a>
            </div>
        </div>
    </div>
    <div class="brand-container">
        <div class="brand" th:each="brand : ${brands}">
            <div class="brand-con">
                <img class="img" th:src="${brand.getImageUrl()}" th:alt="${brand.getName()}">
                <span class="title" th:text="${brand.getName()}"></span>
            </div>
            <div class="line box">
                <div class="item-box">
                    <img class="item"
                         src="https://img.hwahae.co.kr/products/1984011/1984011_20231114110247.jpg?format=webp&size=80x80"
                         alt="item">
                    <div class="container">
                        <div class="brand-container">
                            <a class="title" href="#">토리든 </a>
                            <a class="caption" href="#">다이브인 저분자 히알루론산 세럼</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:replace="~{/fragments/footer :: footer}"></th:block>
</body>
</html>