<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.limbin.temfit.mappers.ItemMapper">
    <insert id="insert"
            useGeneratedKeys="true"
            keyColumn="id"
            keyProperty="id">
        INSERT INTO `temfit`.`products` (`image_url`, `name`, `brand_id`, `skin_id`, `size`, `price`, `discount_rate`, `delivery_fee`, `delivery_company`, `delivery_add`, `creat_user_email`, `modify_user_email`, `created_at`, `modified_at`, `is_deleted`)
        VALUES (
                       #{product.imageUrl}, #{product.name}, #{product.brandId}, #{product.skinId}, #{product.size}, #{product.price}, #{product.discountRate}, #{product.deliveryFee}, #{product.deliveryCompany}, #{product.deliveryAdd}, #{product.creatUserEmail}, #{product.modifyUserEmail}, #{product.createdAt}, #{product.modifiedAt}, #{product.isDeleted})
    </insert>

    <select id="selectBrandAll">
        SELECT `id`                AS `id`,
               `image_url`         AS `imageUrl`,
               `name`              AS `name`,
               `creat_user_email`  AS `creatUserEmail`,
               `modify_user_email` AS `modifyUserEmail`,
               `created_at`        AS `createdAt`,
               `modified_at`       AS `modifiedAt`,
               `is_deleted`        AS `isDeleted`
        FROM `temfit`.`brands`
        WHERE `is_deleted` = FALSE
        ORDER BY `name`
    </select>

    <select id="selectSkinAll">
        SELECT `id`                AS `id`,
               `name`              AS `name`,
               `creat_user_email`  AS `creatUserEmail`,
               `modify_user_email` AS `modifyUserEmail`,
               `created_at`        AS `createdAt`,
               `modified_at`       AS `modifiedAt`,
               `is_deleted`        AS `isDeleted`
        FROM `temfit`.`skins`
        WHERE `is_deleted` = FALSE
        ORDER BY `name`
    </select>

    <select id="getProductAll">
        SELECT `id`                AS `id`,
               `image_url`         AS `imageUrl`,
               `name`              AS `name`,
               `brand_id`          AS `brandId`,
               `skin_id`           AS `skinId`,
               `size`              AS `size`,
               `price`             AS `price`,
               `discount_rate`     AS `discountRate`,
               `delivery_fee`      AS `deliveryFee`,
               `delivery_company`  AS `deliveryCompany`,
               `delivery_add`      AS `deliveryAdd`,
               `creat_user_email`  AS `creatUserEmail`,
               `modify_user_email` AS `modifyUserEmail`,
               `created_at`        AS `createdAt`,
               `modified_at`       AS `modifiedAt`,
               `is_deleted`        AS `isDeleted`
        FROM `temfit`.`products`
        WHERE `is_deleted` = FALSE
        ORDER BY `name`
    </select>
    <select id="getByProductId" resultType="kr.co.limbin.temfit.entities.ProductEntity">
        SELECT `id`                AS `id`,
               `image_url`         AS `imageUrl`,
               `name`              AS `name`,
               `brand_id`          AS `brandId`,
               `skin_id`           AS `skinId`,
               `size`              AS `size`,
               `price`             AS `price`,
               `discount_rate`     AS `discountRate`,
               `delivery_fee`      AS `deliveryFee`,
               `delivery_company`  AS `deliveryCompany`,
               `delivery_add`      AS `deliveryAdd`,
               `creat_user_email`  AS `creatUserEmail`,
               `modify_user_email` AS `modifyUserEmail`,
               `created_at`        AS `createdAt`,
               `modified_at`       AS `modifiedAt`,
               `is_deleted`        AS `isDeleted`
        FROM `temfit`.`products`
        WHERE `is_deleted` = FALSE
        AND `id` = #{id}
        LIMIT 1
    </select>

    <select id="getByBrandId" resultType="kr.co.limbin.temfit.entities.BrandEntity">
        SELECT `id`                AS `id`,
               `image_url`         AS `imageUrl`,
               `name`              AS `name`,
               `creat_user_email`  AS `creatUserEmail`,
               `modify_user_email` AS `modifyUserEmail`,
               `created_at`        AS `createdAt`,
               `modified_at`       AS `modifiedAt`,
               `is_deleted`        AS `isDeleted`
        FROM `temfit`.`brands`
        WHERE `is_deleted` = FALSE
        AND `id` = #{id}
        LIMIT 1
    </select>
    <select id="getByCartId">
        SELECT `t0`.`id`                      AS `id`,
               `t0`.`cart_id`                 AS `cartId`,
               `t0`.`product_id`              AS `productId`,
               `t0`.`article_id`              AS `articleId`,
               `t0`.`quantity`                AS `quantity`,
               `t0`.`creat_user_email`        AS `creatUserEmail`,
               `t0`.`created_at`              AS `createdAt`,
               `t1`.image_url                 AS `productImage`,
               `t1`.`name`                    AS `productName`,
               `t1`.`price`                   AS `productPrice`,
               (SELECT `name`
                FROM `temfit`.`brands`
                WHERE `id` = `t1`.`brand_id`) AS `brandName`,
               (SELECT `name`
                FROM `temfit`.`brands`
                WHERE `id` = `t1`.`skin_id`)  AS `skinName`,
               `t1`.`delivery_fee`            AS `deliveryFee`,
               `t1`.`delivery_company`        AS `deliveryCompany`
        FROM `temfit`.`cart_detail` AS `t0`
                 LEFT JOIN `temfit`.`products` AS `t1` ON `t0`.`product_id` = `t1`.`id`
        WHERE `t0`.`cart_id` = #{cartId}
          AND `t1`.`is_deleted` = FALSE
        ORDER BY `t0`.`id`
    </select>
</mapper>