<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.limbin.temfit.mappers.ItemMapper">
    <insert id="insert"
            useGeneratedKeys="true"
            keyColumn="id"
            keyProperty="id">
        INSERT INTO `temfit`.`products` (`image_url`, `name`, `brand_id`, `skin_id`, `size`, `price`, `discount_rate`, `delivery_fee`, `delivery_company`, `delivery_add`, `creat_user_email`, `modify_user_email`, `created_at`, `modified_at`, `is_deleted`)
        VALUES (
                       #{product.imageUrl}, #{product.name}, #{product.brandId}, #{product.skinId}, #{product.size}, #{product.price}, #{product.discountRate}, #{product.deliveryFee}, #{product.deliveryCompany}, #{product.deliveryAdd}, #{product.creatUserEmail}, #{product.modifyUserEmail}, #{product.createdAt}, #{product.modifiedAt}, #{product.isDeleted})
    </insert>
    <insert id="insertCart"
            useGeneratedKeys="true"
            keyColumn="id"
            keyProperty="id">
        INSERT INTO `temfit`.`carts` (`user_email`, `creat_user_email`, `modify_user_email`, `created_at`,
                                      `modified_at`, `is_paid`)
        VALUES (#{cart.userEmail}, #{cart.creatUserEmail}, #{cart.modifyUserEmail}, #{cart.createdAt},
                #{cart.modifiedAt}, #{cart.isPaid})
    </insert>

    <insert id="insertCartDetail"
            useGeneratedKeys="true"
            keyColumn="id"
            keyProperty="id">
        INSERT INTO `temfit`.`cart_detail` (`cart_id`, `product_id`, `article_id`, `quantity`, `creat_user_email`,
                                            `created_at`)
        VALUES (#{cartDetail.cartId}, #{cartDetail.productId}, #{cartDetail.articleId}, #{cartDetail.quantity},
                #{cartDetail.creatUserEmail}, #{cartDetail.createdAt})
    </insert>

    <update id="updateCartDetail">
        UPDATE `temfit`.`cart_detail`
        SET `quantity` = #{cartDetail.quantity}
        WHERE `id` = #{cartDetail.id}
        LIMIT 1
    </update>

    <delete id="deleteCartDetail">
        DELETE
        FROM `temfit`.`cart_detail`
        WHERE `id` = #{cartDetailId}
        LIMIT 1
    </delete>

    <select id="selectBrandAll">
        SELECT `id`                AS `id`,
               `image_url`         AS `imageUrl`,
               `name`              AS `name`,
               `creat_user_email`  AS `creatUserEmail`,
               `modify_user_email` AS `modifyUserEmail`,
               `created_at`        AS `createdAt`,
               `modified_at`       AS `modifiedAt`,
               `is_deleted`        AS `isDeleted`
        FROM `temfit`.`brands`
        WHERE `is_deleted` = FALSE
        ORDER BY `name`
    </select>

    <select id="selectSkinAll">
        SELECT `id`                AS `id`,
               `name`              AS `name`,
               `creat_user_email`  AS `creatUserEmail`,
               `modify_user_email` AS `modifyUserEmail`,
               `created_at`        AS `createdAt`,
               `modified_at`       AS `modifiedAt`,
               `is_deleted`        AS `isDeleted`
        FROM `temfit`.`skins`
        WHERE `is_deleted` = FALSE
        ORDER BY `name`
    </select>

    <select id="getProductAll">
        SELECT `id`                AS `id`,
               `image_url`         AS `imageUrl`,
               `name`              AS `name`,
               `brand_id`          AS `brandId`,
               (SELECT `name`
                FROM `temfit`.`brands`
                WHERE `id` = `brand_id`) AS `brandName`,
               `skin_id`           AS `skinId`,
               `size`              AS `size`,
               `price`             AS `price`,
               `discount_rate`     AS `discountRate`,
               `delivery_fee`      AS `deliveryFee`,
               `delivery_company`  AS `deliveryCompany`,
               `delivery_add`      AS `deliveryAdd`,
               `creat_user_email`  AS `creatUserEmail`,
               `modify_user_email` AS `modifyUserEmail`,
               `created_at`        AS `createdAt`,
               `modified_at`       AS `modifiedAt`,
               `is_deleted`        AS `isDeleted`,
               ROW_NUMBER() OVER (ORDER BY `name`) AS `num`
        FROM `temfit`.`products`
        WHERE `is_deleted` = FALSE
        ORDER BY `name`
    </select>
    <select id="getByProductId" resultType="kr.co.limbin.temfit.entities.ProductEntity">
        SELECT `id`                AS `id`,
               `image_url`         AS `imageUrl`,
               `name`              AS `name`,
               `brand_id`          AS `brandId`,
               `skin_id`           AS `skinId`,
               `size`              AS `size`,
               `price`             AS `price`,
               `discount_rate`     AS `discountRate`,
               `delivery_fee`      AS `deliveryFee`,
               `delivery_company`  AS `deliveryCompany`,
               `delivery_add`      AS `deliveryAdd`,
               `creat_user_email`  AS `creatUserEmail`,
               `modify_user_email` AS `modifyUserEmail`,
               `created_at`        AS `createdAt`,
               `modified_at`       AS `modifiedAt`,
               `is_deleted`        AS `isDeleted`
        FROM `temfit`.`products`
        WHERE `is_deleted` = FALSE
        AND `id` = #{id}
        LIMIT 1
    </select>

    <select id="getByBrandId" resultType="kr.co.limbin.temfit.entities.BrandEntity">
        SELECT `id`                AS `id`,
               `image_url`         AS `imageUrl`,
               `name`              AS `name`,
               `creat_user_email`  AS `creatUserEmail`,
               `modify_user_email` AS `modifyUserEmail`,
               `created_at`        AS `createdAt`,
               `modified_at`       AS `modifiedAt`,
               `is_deleted`        AS `isDeleted`
        FROM `temfit`.`brands`
        WHERE `is_deleted` = FALSE
        AND `id` = #{id}
        LIMIT 1
    </select>
    <select id="getByCartId">
        SELECT `t0`.`id`                      AS `id`,
               `t0`.`cart_id`                 AS `cartId`,
               `t0`.`product_id`              AS `productId`,
               `t0`.`article_id`              AS `articleId`,
               `t0`.`quantity`                AS `quantity`,
               `t0`.`creat_user_email`        AS `creatUserEmail`,
               `t0`.`created_at`              AS `createdAt`,
               `t1`.image_url                 AS `productImage`,
               `t1`.`name`                    AS `productName`,
               `t1`.`price`                   AS `productPrice`,
               (SELECT `name`
                FROM `temfit`.`brands`
                WHERE `id` = `t1`.`brand_id`) AS `brandName`,
               (SELECT `name`
                FROM `temfit`.`brands`
                WHERE `id` = `t1`.`skin_id`)  AS `skinName`,
               `t1`.`delivery_fee`            AS `deliveryFee`,
               `t1`.`delivery_company`        AS `deliveryCompany`
        FROM `temfit`.`cart_detail` AS `t0`
                 LEFT JOIN `temfit`.`products` AS `t1` ON `t0`.`product_id` = `t1`.`id`
        WHERE `t0`.`cart_id` = #{cartId}
          AND `t1`.`is_deleted` = FALSE
        ORDER BY `t0`.`id`
    </select>
    <select id="getBySkinId" resultType="kr.co.limbin.temfit.entities.SkinEntity">
        SELECT `id`                AS `id`,
               `name`              AS `name`,
               `creat_user_email`  AS `creatUserEmail`,
               `modify_user_email` AS `modifyUserEmail`,
               `created_at`        AS `createdAt`,
               `modified_at`       AS `modifiedAt`,
               `is_deleted`        AS `isDeleted`
        FROM `temfit`.`skins`
        WHERE `is_deleted` = FALSE
        AND `id` = #{id}
    </select>

    <select id="getCartDetail" resultType="kr.co.limbin.temfit.entities.CartDetailEntity">
        SELECT `id`               AS `id`,
               `cart_id`          AS `cartId`,
               `product_id`       AS `productId`,
               `article_id`       AS `articleId`,
               `quantity`         AS `quantity`,
               `creat_user_email` AS `creatUserEmail`,
               `created_at`       AS `createdAt`
        FROM `temfit`.`cart_detail`
        WHERE `id` = #{cartDetailId}
        LIMIT 1
    </select>
    <select id="getCartId" resultType="java.lang.Integer">
        SELECT `id`
        FROM `temfit`.`carts`
        WHERE `user_email` = #{userEmail}
          AND `is_paid` = FALSE
        LIMIT 1
    </select>
    <select id="getQuantity" resultType="kr.co.limbin.temfit.entities.CartDetailEntity">
        SELECT `id`       as `id`,
               `quantity` as `quantity`
        FROM `temfit`.`cart_detail`
        WHERE `cart_id` = #{cartDetail.cartId}
          AND `product_id` = #{cartDetail.productId}
          AND `article_id` = #{cartDetail.articleId}
        LIMIT 1
    </select>
    <select id="getProductBySkinId">
        SELECT `id`                AS `id`,
               `image_url`         AS `imageUrl`,
               `name`              AS `name`,
               `brand_id`          AS `brandId`,
               `skin_id`           AS `skinId`,
               (SELECT `name`
                FROM `temfit`.`skins`
                WHERE `id` = `skin_id`) AS `skinName`,
               `size`              AS `size`,
               `price`             AS `price`,
               `discount_rate`     AS `discountRate`,
               `delivery_fee`      AS `deliveryFee`,
               `delivery_company`  AS `deliveryCompany`,
               `delivery_add`      AS `deliveryAdd`,
               `creat_user_email`  AS `creatUserEmail`,
               `modify_user_email` AS `modifyUserEmail`,
               `created_at`        AS `createdAt`,
               `modified_at`       AS `modifiedAt`,
               `is_deleted`        AS `isDeleted`

        FROM `temfit`.`products`
        WHERE `is_deleted` = FALSE
          AND `skin_id` = #{skinId}
    </select>
    <select id="getProductByBrandId">
        SELECT `id`                AS `id`,
               `image_url`         AS `imageUrl`,
               `name`              AS `name`,
               `brand_id`          AS `brandId`,
               `skin_id`           AS `skinId`,
               (SELECT `name`
                FROM `temfit`.`brands`
                WHERE `id` = `brand_id`) AS `brandName`,
               `size`              AS `size`,
               `price`             AS `price`,
               `discount_rate`     AS `discountRate`,
               `delivery_fee`      AS `deliveryFee`,
               `delivery_company`  AS `deliveryCompany`,
               `delivery_add`      AS `deliveryAdd`,
               `creat_user_email`  AS `creatUserEmail`,
               `modify_user_email` AS `modifyUserEmail`,
               `created_at`        AS `createdAt`,
               `modified_at`       AS `modifiedAt`,
               `is_deleted`        AS `isDeleted`

        FROM `temfit`.`products`
        WHERE `is_deleted` = FALSE
          AND `brand_id` = #{brandId}
    </select>
    <select id="getProductBySkinAll">
        SELECT `t0`.`id`                AS `id`,
               `t0`.`image_url`         AS `imageUrl`,
               `t0`.`name`              AS `name`,
               `t0`.`brand_id`          AS `brandId`,
               (SELECT `name`
                FROM `temfit`.`brands`
               WHERE `id` = `brand_id`) AS `brandName`,
               `t0`.`skin_id`           AS `skinId`,
               `t0`.`size`              AS `size`,
               `t0`.`price`             AS `price`,
               `t0`.`discount_rate`     AS `discountRate`,
               `t0`.`delivery_fee`      AS `deliveryFee`,
               `t0`.`delivery_company`  AS `deliveryCompany`,
               `t0`.`delivery_add`      AS `deliveryAdd`,
               `t0`.`creat_user_email`  AS `creatUserEmail`,
               `t0`.`modify_user_email` AS `modifyUserEmail`,
               `t0`.`created_at`        AS `createdAt`,
               `t0`.`modified_at`       AS `modifiedAt`,
               `t0`.`is_deleted`        AS `isDeleted`,
               ROW_NUMBER() OVER (ORDER BY `t0`.`name`) AS `num`
        FROM `temfit`.`products` AS `t0`
                 LEFT JOIN `temfit`.`skins` AS `t1` ON `t0`.`skin_id` = `t1`.`id`
        WHERE `t0`.`is_deleted` = FALSE
         AND `skin_id` = #{skinId}
        ORDER BY `name`
    </select>
    <select id="getProductByBrandAll">
        SELECT `t0`.`id`                AS `id`,
               `t0`.`image_url`         AS `imageUrl`,
               `t0`.`name`              AS `name`,
               `t0`.`brand_id`          AS `brandId`,
               (SELECT `name`
                FROM `temfit`.`brands`
                WHERE `id` = `brand_id`) AS `brandName`,
               `t0`.`skin_id`           AS `skinId`,
               `t0`.`size`              AS `size`,
               `t0`.`price`             AS `price`,
               `t0`.`discount_rate`     AS `discountRate`,
               `t0`.`delivery_fee`      AS `deliveryFee`,
               `t0`.`delivery_company`  AS `deliveryCompany`,
               `t0`.`delivery_add`      AS `deliveryAdd`,
               `t0`.`creat_user_email`  AS `creatUserEmail`,
               `t0`.`modify_user_email` AS `modifyUserEmail`,
               `t0`.`created_at`        AS `createdAt`,
               `t0`.`modified_at`       AS `modifiedAt`,
               `t0`.`is_deleted`        AS `isDeleted`,
               ROW_NUMBER() OVER (ORDER BY `t0`.`name`) AS `num`
        FROM `temfit`.`products` AS `t0`
                 LEFT JOIN `temfit`.`brands` AS `t1` ON `t0`.`brand_id` = `t1`.`id`
        WHERE `t0`.`is_deleted` = FALSE
          AND `brand_id` = #{brandId}
        ORDER BY `name`
    </select>
</mapper>