<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.limbin.temfit.mappers.PaymentMapper">
    <insert id="insert"
            useGeneratedKeys="true"
            keyColumn="id"
            keyProperty="id">
        INSERT INTO `temfit`.`payments` (`user_email`, `name`, `contact_mvno_code`,`contact_first`, `contact_second`, `contact_third`, `address_postal`,`address_primary`, `address_secondary`, `delivery_content`, `total_price`, `creat_user_email`,  `modify_user_email`, `is_deleted`, `created_at`, `modified_at`)
        VALUES (#{payment.userEmail},#{payment.name}, #{payment.contactMvnoCode}, #{payment.contactFirst}, #{payment.contactSecond}, #{payment.contactThird}, #{payment.addressPostal}, #{payment.addressPrimary}, #{payment.addressSecondary}, #{payment.deliveryContent}, #{payment.totalPrice}, #{payment.creatUserEmail}, #{payment.modifyUserEmail}, #{payment.isDeleted}, #{payment.createdAt}, #{payment.modifiedAt})
    </insert>
    <delete id="deleteProduct">
        DELETE
        FROM `temfit`.`payments`
        WHERE `id` = #{productId}
        LIMIT 1
    </delete>
    <select id="selectById" resultType="kr.co.limbin.temfit.entities.PaymentEntity">
        SELECT `id`                AS `id`,
               `user_email`        AS `userEmail`,
               `name`              AS `name`,
               `contact_mvno_code` AS `contactMvnoCode`,
               `contact_first`     AS `contactFirst`,
               `contact_second`    AS `contactSecond`,
               `contact_third`     AS `contactThird`,
               `address_postal`    AS `addressPostal`,
               `address_primary`   AS `addressPrimary`,
               `delivery_content`  AS `addressSecondary`,
               `total_price`       AS `totalPrice`,
               `address_secondary` AS `deliveryContent`,
               `creat_user_email`  AS `creatUserEmail`,
               `modify_user_email` AS `modifyUserEmail`,
               `is_deleted`        AS `isDeleted`,
               `created_at`        AS `createdAt`,
               `modified_at`       AS `modifiedAt`
        FROM `temfit`.`payments`
        WHERE `id` = #{id}
        LIMIT 1
    </select>
</mapper>