<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.limbin.temfit.mappers.ReviewMapper">
    <insert id="insert"
            useGeneratedKeys="true"
            keyColumn="id"
            keyProperty="id">
        INSERT INTO `temfit`.`reviews` (`article_id`, `user_email`, `content`, `created_at`, `modified_at`,
                                         `is_deleted`)
        VALUES (#{review.articleId}, #{review.userEmail}, #{review.content},
                #{review.createdAt}, #{review.modifiedAt}, #{review.isDeleted})
    </insert>
    <select id="selectById" resultType="kr.co.limbin.temfit.entities.ReviewEntity">
        SELECT `id`          AS `id`,
               `article_id`  AS `articleId`,
               `user_email`  AS `userEmail`,
               `content`     AS `content`,
               `created_at`  AS `createdAt`,
               `modified_at` AS `modifiedAt`,
               `is_deleted`  AS `isDeleted`
        FROM `temfit`.`reviews`
        WHERE `article_id` = #{articleId}
        LIMIT 1
    </select>

</mapper>