<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.limbin.temfit.mappers.ReviewMapper">
    <insert id="insert"
            useGeneratedKeys="true"
            keyColumn="id"
            keyProperty="id">
        INSERT INTO `temfit`.`reviews` (`article_id`, `user_email`, `content`, `created_at`, `modified_at`,
                                         `is_deleted`)
        VALUES (#{review.articleId}, #{review.userEmail}, #{review.content},
                #{review.createdAt}, #{review.modifiedAt}, #{review.isDeleted})
    </insert>
    <update id="update">
        UPDATE `temfit`.`reviews`
        SET `content`     = #{review.content},
            `modified_at` = #{review.modifiedAt},
            `is_deleted`  = #{review.isDeleted}
        WHERE `id` = #{review.id}
        LIMIT 1
    </update>
    <select id="selectByReviewId" resultType="kr.co.limbin.temfit.vos.ReviewVo">
        SELECT `t0`.`id`          AS `id`,
               `t0`.`article_id`  AS `articleId`,
               `t0`.`user_email`  AS `userEmail`,
               `t0`.`content`     AS `content`,
               `t0`.`created_at`  AS `createdAt`,
               `t0`.`modified_at` AS `modifiedAt`,
               `t0`.`is_deleted`  AS `isDeleted`,
               `t1`.`nickname`    AS `nickname`
        FROM `temfit`.`reviews` AS `t0`
                 LEFT JOIN `temfit`.`users` AS `t1` ON `t0`.`user_email` = `t1`.`email`
        WHERE `id` = #{id}
        LIMIT 1
    </select>
    <select id="selectByAll">
        SELECT `t0`.`id`          AS `id`,
               `t0`.`article_id`  AS `articleId`,
               `t0`.`user_email`  AS `userEmail`,
               `t0`.`content`     AS `content`,
               `t0`.`created_at`  AS `createdAt`,
               `t0`.`modified_at` AS `modifiedAt`,
               `t0`.`is_deleted`  AS `isDeleted`,
               `t1`.`nickname`    AS `nickname`
        FROM `temfit`.`reviews` AS `t0`
                 LEFT JOIN `temfit`.`users` AS `t1` ON `t0`.`user_email` = `t1`.`email`
        WHERE `article_id` = #{articleId}
          AND `t0`.`is_deleted` = FALSE
        ORDER BY `id` DESC
    </select>
</mapper>