@charset "UTF-8";

@use "sass:color";
@import "./object/button";
@import "./object/check";
@import "./object/field";
@import "./object/label";
@import "./object/dialog";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
  box-sizing: border-box;
}

a[href] {
  color: inherit;
  text-decoration: none;
}

body {
  height: 100%;
  background-color: #F7F7F7;
  color: #212325;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  margin: initial;
  user-select: none;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  margin-block: initial;
  margin-inline: initial;
}

html {
  height: 100%;
}

// input number 속성일 때 생기는 화살표 제거
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button, input, select, textarea {
  background-color: initial;
  border: initial;
  color: inherit;
  font: inherit;
  letter-spacing: initial;
  line-height: initial;
  margin: initial;
  margin-block: initial;
  outline: initial;
  padding: initial;
  padding-block: initial;
  padding-inline: initial;
  text-indent: initial;
  text-shadow: initial;
  text-transform: initial;
  word-spacing: initial;
}

ol, ul {
  list-style: none;
  margin-block: initial;
  padding-inline: initial;
}

.--dialog {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0.5rem);
  background-color: #212325a0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition-duration: 175ms;
  transition-property: opacity;
  transition-timing-function: ease;
  z-index: 999;

  &.-visible {
    opacity: 1;
    pointer-events: auto;
  }

  > .---modal {
    @include flex(column, stretch, flex-start, 1rem);
    top: 50%;
    left: 50%;
    min-width: 20rem;
    background-color: #fafcfe;
    border-radius: 0.25rem;
    box-shadow: 0 0 1.25rem #21232550;
    opacity: 0;
    overflow: hidden;
    padding: 1.625rem 1.75rem;
    pointer-events: none;
    position: fixed;
    transform: scale(95%) translate(-50%, -50%);
    transform-origin: top left;
    transition-duration: 175ms;
    transition-property: opacity, transform;
    transition-timing-function: ease;

    &.-visible {
      opacity: 1;
      pointer-events: auto;
      transform: scale(100%) translate(-50%, -50%);
    }

    > .---title {
      font-size: 1rem;
      font-weight: 400;
    }

    > .---content {
      text-align: justify;
    }

    > .---button-container {
      @include flex(row, stretch, center, 0.375rem)
    }
  }
}

.--loading {
  @include flex(column, center, center, 1.25rem);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0.5rem);
  background-color: #212325a0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition-duration: 175ms;
  transition-property: opacity;
  transition-timing-function: ease;
  z-index: 998;

  &.-visible {
    opacity: 1;
    pointer-events: auto;

    > .---icon {
      top: 0;
      opacity: 1;
    }

    > .---caption {
      top: 0;
      opacity: 1;
      transition-delay: 100ms;
    }
  }

  > .---icon {
    @keyframes animation {
      from {
        transform: rotateZ(0deg);
      }
      to {
        transform: rotateZ(360deg);
      }
    }
    top: 0.25rem;
    width: 3.5rem;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-name: animation;
    opacity: 0;
    position: relative;
    transition-duration: 175ms;
    transition-property: top, opacity;
    transition-timing-function: ease;
  }

  > .---caption {
    top: 0.25rem;
    color: #ffffff;
    font-size: 1.25rem;
    opacity: 0;
    position: relative;
    transition-duration: 175ms;
    transition-property: top, opacity;
    transition-timing-function: ease;
  }
}

body:has(.--dialog.-visible) {
  overflow: hidden !important;
}

#container {
  max-width: 40rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
}

#addressFindDialog {
  @include flex(column, center, center, 1.25rem);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0.5rem);
  background-color: #212325a0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition-duration: 175ms;
  transition-property: opacity;
  transition-timing-function: ease;
  z-index: 997;

  &.-visible {
    opacity: 1;
    pointer-events: auto;

    > .modal {
      transform: scale(100%);
    }
  }

  > .modal {
    width: 22.5rem;
    aspect-ratio: 3/4;
    background-color: #ffffff;
    border-radius: 0.25rem;
    overflow: hidden;
    transform: scale(97.5%);
    transition-duration: 175ms;
    transition-property: transform;
    transition-timing-function: ease;
  }
}

#header {
  @include flex(column, stretch, flex-start, 0.375rem);
  max-width: 40rem;
  padding: 0.625rem 1.625rem;
  margin: 0 auto;
  background-color: #ffffff;
  top: 0;
  position: sticky;
  z-index: 996;

  > .top {
    @include flex(row, center, flex-start, 0.75rem);

    > .temfit-icon {
      width: 2rem;
    }

    > .title {
      color: #1d1d1e;
      font-size: 1.675rem;
      font-weight: 700;
      margin-right: 1rem;
    }

    > .cart {
      > .shopping-bag {
        width: 1.45rem;
        margin-right: 0.625rem;
      }
    }
  }

  > .search-container {
    @include flex(row, stretch, flex-start);
    padding: 0.625rem 0;
    position: relative;

    > .search {
      padding: 0.625rem;
      border-radius: 999rem;
      background-color: #fafcfe;

      > .search-placeholder {
        color: #a2a4a6;
        font-size: 0.875rem;
        margin-left: 1rem;
      }


      > .search-icon {
        top: 1rem;
        right: 1rem;
        width: 1.425rem;
        cursor: pointer;
        position: absolute;
      }
    }
  }
}

#footer {
  @include flex(column, center, center, 1.25rem);
  max-width: 40rem;
  padding: 0 1.625rem;
  margin: 0 auto;
  background-color: #ffffff;
  color: #a2a4a6;
  font-size: 0.765rem;
  font-weight: 400;

  > .a-container {
    @include flex(row, center, center, 1.25rem);
    margin-top: 4rem;

    > .temfit-icon {
      width: 1.45rem;
      margin-right: -1rem;
    }

    > .title {
      font-size: 1.45rem;
      font-weight: 400;
      color: #1d1d1e;
    }

    > .information {
      color: #757575;
      padding: 0.35rem;

      &:hover {
        border-radius: 0.25rem;
        background-color: #eaecee;
      }
    }
  }

  > .information {
    @include flex(column, stretch, flex-start, 0.875rem);
    width: 30rem;
    padding: 2rem;
    background-color: #fafcfe;
  }

  > .b-container {
    @include flex(row, center, center, 0.45rem);
  }

  > .logout,
  > .login {
    border: 0.0625rem solid #a2a4a6;
    padding: 0.325rem;
    background-color: #eaecee;
    border-radius: 0.25rem;
    margin-bottom: 10rem;
    margin-top: 2rem;

    &:hover {
      background-color: #fafcfe;
    }
  }
}

#payCover {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #212121a0;
  display: none;
  position: fixed;
  z-index: 2;
}

#payCover.visible{
  display: block;
}

#pay {
  @include flex(column, center, flex-start, 1rem);
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  border-radius: 0.75rem;
  display: none;
  padding: 2rem;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 3;

  > .title{
    font-size: 1.5rem;
    text-align: center;
  }

  > .message {
    font-size: 1rem;
    margin: 1rem 0;
  }

  > .subtitle {
    font-size: 1.25rem;
  }

  > .menu {
    border: 0.0625rem solid #e0e0e0;
    border-radius: 0.75rem;
    list-style-type: none;
    margin-block: 0;
    margin-inline: 0;
    padding-inline: 0;
    padding: 1rem;

    .item {
      @include flex(row, center, flex-start, 0.5rem);

      &:not(:last-of-type) {
        border-bottom: 0.0625rem solid #e0e0e0;
        margin-bottom: 0.5rem;
        padding-bottom: 0.5rem;
      }

      > .stretch {
        flex-grow: 1;
      }
    }
  }

  > .total {
    background-color: #f0f0f0;
    border: 0.0625rem solid #e0e0e0;
    border-radius: 0.75rem;
    font-size: 1.125rem;
    margin-top: -0.25rem;
    padding: 0.75rem;
    text-align: center;
  }

  > .method-container {
    display: grid;
    gap: 0.75rem;
    grid-template-columns: repeat(2, 1fr);

    > .label {
      @include flex(column, center, center, 0.5rem);

      border: 0.125rem solid #eeeeee;
      border-radius: 0.75rem;
      cursor: pointer;
      padding: 0.5rem;

      &:has(> .radio:checked) {
        background-color: #fafafa;
        border-color: #757575;
      }

      > .radio {
        display: none;

        &:checked ~ .icon {
          filter: opacity(1);
        }
      }

      > .icon {
        width: 50%;
        filter: opacity(0.375);
      }
    }
  }

  > .button-container {
    display: grid;
    gap: 0.75rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

#pay.visible{
  display: flex;
}

