@charset "UTF-8";

@use "sass:color";
@import "../_def";

.--object-label {
  $caption-text-color: #434345;
  @include flex(column, stretch, flex-start, 0.125rem);

  &:hover > .---caption {
    color: color.adjust($caption-text-color, $lightness: -15%);
  }

  &:focus-within > .---caption {
    color: #ee3f74;
  }

  &.-invalid {
    .---field:not(:disabled) {
      border-color: #ee623f !important;
      color: #ee623f !important;
    }

    > .---caption {
      color: #ee623f !important;
    }

    > .---warning {
      display: block;
    }
  }

  > .---caption {
    color: $caption-text-color;
    font-size: 0.8rem;
    transition-duration: 175ms;
    transition-property: color;
    transition-timing-function: ease;
  }

  > .---row {
    @include flex(row, stretch, flex-start, 0.375rem);
  }

  > .---warning {
    color: #ee623f;
    display: none;
    font-size: 0.8rem;
  }
}

.--object-label-row {
  $caption-text-color: #434345;
  @include flex(row, center, flex-start, 0.75rem);
  position: relative;
  
  &:hover > .---caption {
    color: color.adjust($caption-text-color, $lightness: -15%);
  }

  &:focus-within > .---caption {
    color: #ee3f74;
  }

  &.-invalid {
    .---field {
      border-color: #ee623f !important;
      color: #ee623f !important;
    }

    > .---caption {
      color: #ee623f !important;
    }

    > .---warning {
      display: block;
    }
  }

  > .---caption {
    text-align: end;
    width: 5rem;
    font-weight: 400;
    color: $caption-text-color;
    transition-duration: 175ms;
    transition-property: color;
    transition-timing-function: ease;
  }

  > .image {
    max-width: 5rem;
    height: 5rem;
    object-fit: cover;
    object-position: center;
  }

  > .---warning {
    color: #ee623f;
    display: none;
    font-size: 0.8rem;
    position: absolute;
    left: 5rem;
    bottom: 0.25rem;
  }
}