<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<footer id="footer" th:fragment="footer">
    <div class="a-container">
        <img class="temfit-icon" src="/assets/images/temfit_icon.png" alt="icon">
        <h1 class="title">Temfit</h1>
    </div>
    <div class="information">
        <div class="information-caption">
            <span>상호명</span>
            <span>|</span>
            <span>(주)템핏글로벌</span>
        </div>
        <div class="information-caption">
            <span>대표자</span>
            <span>|</span>
            <span>권유빈, 임종호</span>
        </div>
        <div class="information-caption">
            <span>주소</span>
            <span>|</span>
            <span>대구광역시 중구 중앙대로 366 반월센트럴타워 9층,10층 </span>
        </div>
        <div class="information-caption">
            <span>사업자 등록번호</span>
            <span>|</span>
            <span>1588-5890</span>
        </div>
        <div class="information-caption">
            <span>입점문의</span>
            <span>|</span>
            <span>temfitshop@temfit.co.kr</span>
        </div>
    </div>
    <div class="b-container">
        <a href="https://www.hwahae.co.kr/terms/terms-of-use">이용약관</a>
        <span>|</span>
        <a href="https://www.hwahae.co.kr/terms/privacy-policy">개인정보 처리방침</a>
    </div>
    <div class="c-container">
        (주)화해글로벌은 결제정보의 중개서비스 또는 통신판매중개시스템의 제공자로서, 통신판매의 당사자가 아니며 제공 정보의 오류로 인해 발생하는 모든 손해 및 상품의 주문, 배송 및 환불 등과 관련한 의무와
        책임은 각 판매자에게 있습니다.
    </div>
    <div class="d-container">
        © temfit Global Inc. All Rights Reserved.
    </div>
    <a class="login-button" href="/user/login">로그인</a>
</footer>