<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header id="header" th:fragment="header">
    <div class="top">
        <img class="temfit-icon" src="/assets/images/temfit_icon.png" alt="icon">
        <a class="title" href="/main">Temfit</a>
        <a class="sub-title" href="/main">" 당신의 아름다움을 핏하다 "</a>
        <div class="-flex-stretch"></div>
        <a class="cart" href="/cart">
            <img class="shopping-bag" src="/assets/images/shopping-bag.png" alt="shopping-bag">
        </a>
    </div>
    <div class="search-container">
        <a href="/index_search" class="search -flex-stretch">
            <span class="search-placeholder">궁금한 제품을 검색해 보세요</span>
            <img class="search-icon" src="/assets/images/search-icon.png" alt="search-icon">
        </a>
    </div>
</header>
</html>