#modifyForm {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  justify-content: flex-start;
  max-width: 40rem;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0 2rem;
}
#modifyForm > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#modifyForm > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#modifyForm > .title {
  align-self: center;
  margin: 2rem 0;
  font-size: 1.6rem;
  font-weight: 500;
}
#modifyForm > .item-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  border: 0.0625rem solid #e0e0e0;
  border-radius: 0.875rem;
  padding: 1rem;
}
#modifyForm > .item-container > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#modifyForm > .item-container > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#modifyForm > .item-container > .caption-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  justify-content: flex-start;
}
#modifyForm > .item-container > .caption-container > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#modifyForm > .item-container > .caption-container > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#modifyForm > .item-container > .caption-container > .caption {
  color: #a2a4a6;
  font-weight: 500;
}
#modifyForm > .item-container > .caption-container > .title {
  font-weight: 500;
}
#modifyForm > .--object-label > .---caption {
  align-self: center;
  padding: 2rem 0;
  font-size: 1rem;
  font-weight: 600;
}
#modifyForm > .--object-label > .smile-sad-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.875rem;
  justify-content: center;
}
#modifyForm > .--object-label > .smile-sad-container > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#modifyForm > .--object-label > .smile-sad-container > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#modifyForm > .--object-label > .smile-sad-container > .smile {
  width: 1.2rem;
}
#modifyForm > .--object-label > .smile-sad-container > .review-caption {
  font-weight: 500;
}
#modifyForm > .--object-label > .smile-sad-container > .sad {
  width: 1.2rem;
}
#modifyForm > .--object-label > .review-sub-caption {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  justify-content: center;
  background-color: #F7F7F7;
  padding: 0.625rem;
  border-radius: 0.875rem;
  margin: 2rem 0;
}
#modifyForm > .--object-label > .review-sub-caption > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#modifyForm > .--object-label > .review-sub-caption > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#modifyForm > .--object-label > .review-sub-caption > .warning {
  width: 1rem;
}
#modifyForm > .--object-label > .review-sub-caption > .item {
  font-size: 0.75rem;
  font-weight: 500;
  color: #7a7c7e;
}
#modifyForm > .button-container {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-end;
}
#modifyForm > .button-container > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#modifyForm > .button-container > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#modifyForm > .--object-label:has(textarea) * {
  font: revert;
  line-height: 1.5;
  list-style-type: revert;
  margin-block: revert;
  margin-inline: revert;
}

/*# sourceMappingURL=modify.css.map */
