@charset "UTF-8";

@import "../../../assets/styles/_def";

#itemWriteForm {
  @include flex(column, stretch, flex-start, 1rem);
  max-width: 38rem;
  margin: 0 auto;
  padding: 2rem 1rem;

  > .button-container {
    @include flex(row, stretch, flex-end, 0.75rem)
  }
}