@charset "UTF-8";

@import "../../../assets/styles/_def";

#itemWriteForm {
  @include flex(column, stretch, flex-start, 1.5rem);
  max-width: 38rem;
  margin: 0 auto;
  padding: 2rem 1rem;

  > .--object-label-row > .num {
    text-align: end;

    ~ .---caption {
      text-align: start;
    }
  }

  > .button-container {
    @include flex(row, stretch, flex-end, 0.75rem)
  }
}