<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>결제</title>
    <link rel="icon" href="/assets/images/temfit_icon.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="/assets/styles/common.min.css">
    <link rel="stylesheet" type="text/css" href="/payment/assets/styles/pay-complete.min.css">
    <script src="/assets/scripts/common.js" type="text/javascript"></script>
</head>
<body>
<div id="container">
    <h1 class="title">주문완료</h1>
    <h2 class="sub-title">주문이 정상적으로 완료되었습니다.</h2>
    <div id="main">
        <div class="payment-wrapper">
            <div class="payment-container">
                <div class="row">
                    <label class="caption">입금처리</label>
                    <div class="item-container">
                        <span class="content">KakaoPay 결제</span>
                        <span class="price-content" th:text="${payment.getTotalPrice() + '원'}"></span>
                    </div>
                </div>
                <div class="row">
                    <label class="caption">주문번호</label>
                    <span class="content" th:text="${payment.getId()}"></span>
                </div>
                <div class="row">
                    <label class="caption">배송지</label>
                    <div class="item-container">
                        <span class="content" th:text="${payment.getName()}"></span>
                        <span class="content" th:text="${payment.getContactFirst() + '-' + payment.getContactSecond() + '-' + payment.getContactThird()}"></span>
                        <span class="content" th:text="${payment.getAddressSecondary()}"></span>
                    </div>
                </div>
                <div class="row">
                    <label class="caption">배송 방법</label>
                    <span class="content">택배</span>
                </div>
                <div class="row">
                    <label class="caption">배송메모</label>
                    <span class="content" th:text="${payment.getDeliveryContent()}"></span>
                </div>
            </div>
            <button class="--object-button -color-pink" type="button">
                <a class="home" href="/main">홈으로</a>
            </button>
        </div>
    </div>
</div>
</body>
</html>