@charset "UTF-8";
#main {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  justify-content: flex-start;
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 1.625rem;
  background-color: #ffffff;
}
#main > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .product-wrapper {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
}
#main > .product-wrapper > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .product-wrapper > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .product-wrapper > .product {
  margin-top: 1.2rem;
  padding-top: 1.75rem;
  position: relative;
  margin-bottom: 1rem;
}
#main > .product-wrapper > .product > .controller {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  top: calc(100% + 1rem);
  left: 50%;
  max-width: 36rem;
  position: absolute;
  transform: translateX(-50%);
}
#main > .product-wrapper > .product > .controller > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .product-wrapper > .product > .controller > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .product-wrapper > .product > .controller > .knob {
  width: 0.5rem;
  height: 0.5rem;
  border: 0.0625rem solid #757575;
  border-radius: 50%;
}
#main > .product-wrapper > .product > .image-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: flex-start;
  max-width: 36rem;
  max-height: 30rem;
  overflow: auto hidden;
  position: relative;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
#main > .product-wrapper > .product > .image-wrapper > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .product-wrapper > .product > .image-wrapper > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .product-wrapper > .product > .image-wrapper > .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  scroll-snap-align: start;
}
#main > .product-wrapper > .modify-delete {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  justify-content: flex-end;
}
#main > .product-wrapper > .modify-delete > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .product-wrapper > .modify-delete > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .product-wrapper > .brand {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  font-size: 0.875rem;
  font-weight: 600;
}
#main > .product-wrapper > .brand > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .product-wrapper > .brand > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .product-wrapper > .brand > .img {
  width: 2.45rem;
  border: 0.0625rem solid #eaecee;
  border-radius: 999rem;
}
#main > .product-wrapper > .brand > .title {
  color: #7a7c7e;
}
#main > .product-wrapper > .caption {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  justify-content: flex-start;
}
#main > .product-wrapper > .caption > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .product-wrapper > .caption > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .product-wrapper > .caption > .cosmetic-sub-title {
  font-size: 0.875rem;
  font-weight: 500;
  color: #757575;
}
#main > .product-wrapper > .caption > .cosmetic-title {
  font-size: 1.25rem;
  font-weight: 700;
}
#main > .product-wrapper > .caption > .score {
  font-size: 0.8rem;
  font-weight: 600;
  color: #6c6e70;
}
#main > .product-wrapper > .star-container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
}
#main > .product-wrapper > .star-container > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .product-wrapper > .star-container > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .product-wrapper > .star-container > .star-scope {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  justify-content: flex-start;
}
#main > .product-wrapper > .star-container > .star-scope > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .product-wrapper > .star-container > .star-scope > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .product-wrapper > .star-container > .star-scope > .starImg {
  width: 0.875rem;
}
#main > .product-wrapper > .star-container > .star-scope > .score {
  font-size: 0.875rem;
  font-weight: 600;
  color: #7a7c7e;
}
#main > .product-wrapper > .star-container > .star-scope > .number {
  font-size: 0.7rem;
  color: #a2a4a6;
}
#main > .product-wrapper > .product-container > .item-box {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: flex-start;
  border: 0.0625rem solid #eaecee;
  border-radius: 0.625rem;
  padding: 1rem;
}
#main > .product-wrapper > .product-container > .item-box > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .product-wrapper > .product-container > .item-box > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .product-wrapper > .product-container > .item-box > .item {
  max-width: 3rem;
  max-height: 3rem;
  overflow: auto hidden;
  margin-right: 1rem;
}
#main > .product-wrapper > .product-container > .item-box > .container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: center;
}
#main > .product-wrapper > .product-container > .item-box > .container > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .product-wrapper > .product-container > .item-box > .container > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .product-wrapper > .product-container > .item-box > .container > .option {
  font-size: 0.8rem;
  color: #757575;
  margin-right: 0.25rem;
}
#main > .product-wrapper > .product-container > .item-box > .container > .caption {
  font-weight: 500;
}
#main > .product-wrapper > .product-container > .item-box > .button {
  margin-left: 2rem;
}
#main > .product-wrapper > .product-container > .item-box > .button > .sortDown {
  width: 1.45rem;
}
#main > .product-wrapper > .sell-container > .title {
  margin-top: 0.5rem;
  margin-bottom: -1rem;
  font-weight: 500;
}
#main > .product-wrapper > .sell-container > .price-container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  font-size: 1.4rem;
  font-weight: 700;
}
#main > .product-wrapper > .sell-container > .price-container > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .product-wrapper > .sell-container > .price-container > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .product-wrapper > .sell-container > .price-container > .percent {
  color: #fc7899;
}
#main > .product-wrapper > .point-container {
  border: 0.0875rem solid #1d1d1e;
  border-radius: 0.625rem;
  padding: 0 0.875rem;
}
#main > .product-wrapper > .point-container > .max-point {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
}
#main > .product-wrapper > .point-container > .max-point > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .product-wrapper > .point-container > .max-point > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .product-wrapper > .point-container > .max-point > .point-title {
  font-size: 1rem;
  font-weight: 600;
}
#main > .product-wrapper > .point-container > .max-point > .point {
  font-size: 1rem;
  font-weight: 900;
  border-bottom: 0.5rem solid #fdfd77;
}
#main > .product-wrapper > .point-container > .underline {
  border-top: 0.0625rem solid #e0e0e0;
}
#main > .product-wrapper > .point-container > .caption {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  cursor: pointer;
}
#main > .product-wrapper > .point-container > .caption > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .product-wrapper > .point-container > .caption > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .product-wrapper > .point-container > .caption > .watch {
  padding: 0.425rem;
  font-size: 0.75rem;
  font-weight: 400;
}
#main > .product-wrapper > .point-container > .caption > .img {
  margin-left: -1rem;
  width: 1.15rem;
}
#main > .product-wrapper > .underline {
  margin: 1rem 0;
  border: 0.25rem solid #fafcfe;
}
#main > .product-wrapper > .caption-container {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  justify-content: flex-start;
  max-width: 40rem;
  padding: 0 1rem;
}
#main > .product-wrapper > .caption-container > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .product-wrapper > .caption-container > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .product-wrapper > .caption-container > .row {
  padding: 0.875rem 0;
  font-size: 0.875rem;
  font-weight: 500;
  color: dimgray;
}
#main > .product-wrapper > .caption-container > .row > .caption {
  display: inline-block;
  width: 5rem;
}
#main > .product-wrapper > .caption-container > .row > .content {
  color: #000000;
}
#main > .product-wrapper > .caption-container > .delivery-row {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  gap: 0.15rem;
  justify-content: flex-start;
  padding: 0.875rem 0;
  font-size: 0.875rem;
  font-weight: 500;
  color: dimgray;
}
#main > .product-wrapper > .caption-container > .delivery-row > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .product-wrapper > .caption-container > .delivery-row > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .product-wrapper > .caption-container > .delivery-row > .caption {
  display: inline-block;
  width: 5rem;
}
#main > .product-wrapper > .caption-container > .delivery-row > .delivery-box {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: flex-start;
}
#main > .product-wrapper > .caption-container > .delivery-row > .delivery-box > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .product-wrapper > .caption-container > .delivery-row > .delivery-box > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .product-wrapper > .caption-container > .delivery-row > .delivery-box > .delivery-container {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  justify-content: flex-start;
}
#main > .product-wrapper > .caption-container > .delivery-row > .delivery-box > .delivery-container > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .product-wrapper > .caption-container > .delivery-row > .delivery-box > .delivery-container > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .product-wrapper > .caption-container > .delivery-row > .delivery-box > .delivery-container > .main-content {
  color: #48C9b0;
}
#main > .product-wrapper > .caption-container > .delivery-row > .delivery-box > .delivery-container > .link-content {
  color: #a2a4a6;
}
#main > .product-wrapper > .caption-container > .delivery-row > .delivery-box > .delivery-container > .content {
  color: #000000;
}
#main > .product-wrapper > .caption-container > .delivery-row > .delivery-box > .delivery-caption {
  margin-top: 0.625rem;
}
#main > .product-wrapper > .caption-container > .delivery-row > .delivery-box > .delivery-caption > .caption {
  font-size: 0.785rem;
  color: #a2a4a6;
}
#main > .product-wrapper > .underline {
  margin: 1rem 0;
  border: 0.25rem solid #fafcfe;
}
#main > .product-wrapper > .information-review > .two-container {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}
#main > .product-wrapper > .information-review > .two-container > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .product-wrapper > .information-review > .two-container > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .product-wrapper > .information-review > .two-container > .content {
  width: 16rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  padding-bottom: 1rem;
}
#main > .product-wrapper > .information-review > .two-container > .content.-selected {
  border-bottom: 0.15rem solid #1d1d1e;
}
#main > .product-wrapper > .information-review > .information-page {
  display: none;
}
#main > .product-wrapper > .information-review > .information-page.-selected {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
}
#main > .product-wrapper > .information-review > .information-page.-selected > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .product-wrapper > .information-review > .information-page.-selected > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .product-wrapper > .information-review > .information-page.-selected > span {
  font: revert;
  line-height: 1.5;
  list-style-type: revert;
  margin-block: revert;
  margin-inline: revert;
}
#main > .product-wrapper > .information-review > .information-page.-selected > span > .image > img {
  max-width: 100%;
  height: revert;
}
#main > .product-wrapper > .information-review > .review-container {
  display: none;
}
#main > .product-wrapper > .information-review > .review-container.-selected {
  display: block;
}
#main > .product-wrapper > .information-review > .review-container.-selected > .review-total {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  justify-content: flex-start;
  font-size: 1.25rem;
  font-weight: 800;
  padding: 2rem 0;
}
#main > .product-wrapper > .information-review > .review-container.-selected > .review-total > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .product-wrapper > .information-review > .review-container.-selected > .review-total > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .product-wrapper > .information-review > .review-container.-selected > .review-total > .review-count {
  color: #fc7899;
}
#main > .product-wrapper > .information-review > .review-container.-selected > .review-total > .--object-button {
  font-size: 0.875rem;
  font-weight: 400;
  padding: 1rem;
}
#main > .product-wrapper > .information-review > .review-container.-selected > .review > .review-caption {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  margin-top: 1rem;
}
#main > .product-wrapper > .information-review > .review-container.-selected > .review > .review-caption > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .product-wrapper > .information-review > .review-container.-selected > .review > .review-caption > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .product-wrapper > .information-review > .review-container.-selected > .review > .review-caption > .review-user-container > .review-user {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  justify-content: flex-start;
}
#main > .product-wrapper > .information-review > .review-container.-selected > .review > .review-caption > .review-user-container > .review-user > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .product-wrapper > .information-review > .review-container.-selected > .review > .review-caption > .review-user-container > .review-user > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .product-wrapper > .information-review > .review-container.-selected > .review > .review-caption > .review-user-container > .review-user > .nickname {
  font-weight: 600;
}
#main > .product-wrapper > .information-review > .review-container.-selected > .review > .review-caption > .review-user-container > .review-user > .view {
  font-size: 0.875rem;
  color: #7a7c7e;
}
#main > .product-wrapper > .information-review > .review-container.-selected > .review > .review-caption > .review-user-container > .date-caption {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: flex-start;
}
#main > .product-wrapper > .information-review > .review-container.-selected > .review > .review-caption > .review-user-container > .date-caption > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .product-wrapper > .information-review > .review-container.-selected > .review > .review-caption > .review-user-container > .date-caption > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .product-wrapper > .information-review > .review-container.-selected > .review > .review-caption > .review-user-container > .date-caption > .date {
  margin-top: -0.6rem;
  font-size: 0.75rem;
  color: #a2a4a6;
}
#main > .product-wrapper > .information-review > .review-container.-selected > .review > .content-container > .review-img {
  padding: 2rem 0;
}
#main > .product-wrapper > .information-review > .review-container.-selected > .review > .content-container > .content-caption {
  padding: 2rem 0;
  border-bottom: 0.0625rem solid #e0e0e0;
}
#main > .product-wrapper > .information-review > .review-container.-selected > .review > .content-container > .content-caption > .content {
  font-weight: 400;
}
#main > .product-wrapper > .information-review > .review-container.-selected > .button-container {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: stretch;
  padding: 1rem 0;
}
#main > .product-wrapper > .information-review > .review-container.-selected > .button-container > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .product-wrapper > .information-review > .review-container.-selected > .button-container > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .product-wrapper > .information-review > .review-container.-selected > .button-container > .--object-button {
  font-size: 1rem;
  font-weight: 500;
  padding: 1.3rem 0;
}
#main > .product-wrapper > .information-review > .ingredient-container > .title {
  font-size: 1.3rem;
  font-weight: 700;
}
#main > .product-wrapper > .information-review > .ingredient-container > .ingredient-composition {
  border-bottom: 0.0625rem solid #e0e0e0;
  padding: 2rem 0;
}
#main > .product-wrapper > .information-review > .ingredient-container > .ingredient-composition > .title {
  padding: 1rem 0;
  font-size: 1rem;
  font-weight: 600;
}
#main > .product-wrapper > .information-review > .ingredient-container > .ingredient-composition > .ingredient-caption {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: flex-start;
}
#main > .product-wrapper > .information-review > .ingredient-container > .ingredient-composition > .ingredient-caption > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .product-wrapper > .information-review > .ingredient-container > .ingredient-composition > .ingredient-caption > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .product-wrapper > .information-review > .ingredient-container > .ingredient-composition > .ingredient-caption > .low-warning {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.45rem;
  justify-content: flex-start;
  font-size: 0.75rem;
}
#main > .product-wrapper > .information-review > .ingredient-container > .ingredient-composition > .ingredient-caption > .low-warning > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .product-wrapper > .information-review > .ingredient-container > .ingredient-composition > .ingredient-caption > .low-warning > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .product-wrapper > .information-review > .ingredient-container > .ingredient-composition > .ingredient-caption > .low-warning > .img {
  width: 0.875rem;
}
#main > .product-wrapper > .information-review > .ingredient-container > .ingredient-composition > .ingredient-caption > .low-warning > .num1 {
  color: #FC7899;
}
#main > .product-wrapper > .information-review > .ingredient-container > .ingredient-composition > .ingredient-caption > .low-warning > .num2 {
  color: #FCD778;
}
#main > .product-wrapper > .information-review > .ingredient-container > .ingredient-composition > .ingredient-caption > .low-warning > .num3 {
  color: #FF312B;
}
#main > .product-wrapper > .information-review > .ingredient-container > .ingredient-composition > .ingredient-caption > .low-warning > .caption {
  color: #a2a4a6;
}
#main > .product-wrapper > .information-review > .ingredient-container > .ingredient-composition > .bar {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: stretch;
  padding: 0.3rem;
  border-radius: 0.875rem;
  background-color: #fc7899;
  width: 91%;
}
#main > .product-wrapper > .information-review > .ingredient-container > .ingredient-composition > .bar > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .product-wrapper > .information-review > .ingredient-container > .ingredient-composition > .bar > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .title {
  font-size: 1.75rem;
  font-weight: 200;
  margin-bottom: 1rem;
}
#main > .table {
  border-spacing: 0;
}
#main > .table > thead > tr:first-child > * {
  border-top: 0.0625rem solid #e0e0e0;
}
#main > .table > thead > tr:last-child > * {
  border-bottom: 0.0625rem solid #e0e0e0;
}
#main > .table > thead > tr > th {
  color: #757575;
  font: inherit;
  font-size: 0.8rem;
  padding: 0.425rem 0.625rem;
  text-align: start;
  white-space: nowrap;
}
#main > .table > thead > tr > td {
  font-size: 0.8rem;
  padding: 0.425rem 0.625rem;
}
#main > .table > thead > tr > td.title {
  font-size: 0.9rem;
  font-weight: 500;
}
#main > .table > tbody > tr > td {
  border-bottom: 0.0625rem solid #e0e0e0;
}
#main > .table > tbody > tr > td * {
  max-width: 100%;
  font: revert;
  line-height: 1.5;
  list-style-type: revert;
  margin-block: revert;
  margin-inline: revert;
}
#main > .table > tbody > tr > td img {
  height: revert;
}
#main > .table > tfoot > tr:last-child > * {
  border-bottom: 0.0625rem solid #e0e0e0;
}
#main > .table > tfoot > tr > th {
  color: #757575;
  font: inherit;
  font-size: 0.8rem;
  padding: 0.425rem 0.625rem;
  text-align: start;
  white-space: nowrap;
}
#main > .table > tfoot > tr > td > a:hover {
  text-decoration: underline;
}
#main > .button-container {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  gap: 0.375rem;
  justify-content: flex-start;
  margin-top: 1rem;
}
#main > .button-container > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .button-container > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}

#button-container {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  gap: 0.375rem;
  justify-content: flex-start;
  max-width: 40rem;
  padding: 0.625rem 1.625rem;
  margin: 0 auto;
  background-color: #ffffff;
  bottom: 0;
  position: sticky;
  z-index: 999;
}
#button-container > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#button-container > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#button-container > .--object-button {
  width: 18rem;
  padding: 1.5rem;
  font-size: 1rem;
  font-weight: 600;
}
#button-container > .--object-button.cart {
  border: 0.1rem solid #fc7899;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #fc7899;
}

#commentForm {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  justify-content: flex-start;
  border-top: 0.0625rem solid #e0e0e0;
  margin-top: 1rem;
  padding-top: 1rem;
}
#commentForm > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#commentForm > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#commentForm > .title {
  font-size: 1.25rem;
  font-weight: 200;
  margin-bottom: 0.25rem;
}

#commentContainer {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  justify-content: flex-start;
  margin-top: 0.25rem;
}
#commentContainer > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#commentContainer > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#commentContainer > .comment {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: flex-start;
  border-radius: 0.25rem;
  overflow: hidden;
}
#commentContainer > .comment > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#commentContainer > .comment > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#commentContainer > .comment.-mine > .head {
  background-color: #48C9b0;
}
#commentContainer > .comment.-deleted > .body {
  color: #a0a0a0;
  font-style: italic;
}
#commentContainer > .comment > .head {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.375rem;
  justify-content: flex-start;
  background-color: #a0a0a0;
  color: #fafcfe;
  font-size: 0.75rem;
  padding: 0.425rem 0.75rem;
}
#commentContainer > .comment > .head > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#commentContainer > .comment > .head > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#commentContainer > .comment > .head > .writer {
  font-weight: 500;
}
#commentContainer > .comment > .head > .action {
  cursor: pointer;
}
#commentContainer > .comment > .head > .action:hover {
  text-decoration: underline;
}
#commentContainer > .comment > .head > .action:has(> [name=modifyCheck]) > input:checked + .caption::before {
  content: "취소";
}
#commentContainer > .comment > .head > .action:has(> [name=modifyCheck]) > .caption::before {
  content: "수정";
}
#commentContainer > .comment > .body {
  background-color: #ffffff;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
}
#commentContainer > .comment > .head:has([name=modifyCheck]:checked) ~ .modify-form,
#commentContainer > .comment > .body:has([name=replyCheck]:checked) ~ .reply-form {
  display: flex;
}
#commentContainer > .comment > .modify-form,
#commentContainer > .comment > .reply-form {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  gap: 0.375rem;
  justify-content: flex-start;
  display: none;
  margin-top: 0.375rem;
}
#commentContainer > .comment > .modify-form > *,
#commentContainer > .comment > .reply-form > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#commentContainer > .comment > .modify-form > .-flex-stretch,
#commentContainer > .comment > .reply-form > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#commentContainer > .comment > .reply-form {
  margin-left: 2rem;
}

#itemCover {
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.6274509804);
  display: none;
  position: fixed;
  z-index: 997;
}
#itemCover.visible {
  display: block;
}

#item {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  border-radius: 0.75rem;
  display: none;
  padding: 2rem;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 998;
}
#item > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#item > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#item.visible {
  display: flex;
}
#item.visible > .title {
  font-size: 1rem;
  font-weight: 500;
}
#item.visible > .sub-item > .sale {
  font-size: 1.4rem;
  font-weight: 600;
  color: #fc7899;
}
#item.visible > .sub-item > .price {
  font-size: 1rem;
  font-weight: 600;
  color: #1d1d1e;
}

/*# sourceMappingURL=index.css.map */
